.PageHeading    
{    
  margin-top: 10px;    
  margin-bottom: 10px;    
  color :black !important;    
}  
h1 {
  color: black;
}
.launchButton
{
  margin-top: 10px;
  margin-bottom: 10px;

  background: rgb(6, 60, 77);
}

Button 
{
  margin-top: 10px;
  margin-bottom: 10px;
  size: 40px;  
}